.cv {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;


  &__title {
    font-size: 1.4rem;
    font-weight: bold;

    @media only screen and (max-width:700px) {
      font-size: 1rem;
    }
  }

  &__content {
    width: 90%;
    margin: auto;
  }

  &__separator {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: auto;
  }

  &__presentation {
    &--title {
      font-size: 1.6rem;
      font-weight: bold;

      @media only screen and (max-width:700px) {
        font-size: 1.2rem;
      }
    }

    &--profession {
      font-size: 1.4rem;
      font-weight: 500;

      @media only screen and (max-width:700px) {
        font-size: 1rem;
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    align-content: center;
    margin: auto;

    &--link {
      font-size: 1rem;
      font-weight: 500;

      @media only screen and (max-width:700px) {
        font-size: 0.6rem;
      }
    }

    &--text {
      font-size: 1rem;
      font-weight: 500;

      @media only screen and (max-width:700px) {
        font-size: 0.6rem;
      }
    }

    &--separator {
      font-size: 1.6rem;
      font-weight: 400;

      @media only screen and (max-width:700px) {
        font-size: 1.2rem;
      }
    }
  }

  &__education {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1.2rem 0;

    &--list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &--location {
      display: flex;
      flex-direction: column;
    }

    &--date {
      display: flex;
      flex-direction: row;
      gap: 0.3rem;
    }

    &--title {
      font-size: 1.4rem;
      font-weight: bold;

      @media only screen and (max-width:700px) {
        font-size: 0.8rem;
      }
    }

    &--text {
      font-size: 1rem;
      font-weight: 500;

      @media only screen and (max-width:700px) {
        font-size: 0.6rem;
      }
    }

    &--separator {
      font-size: 1rem;

      @media only screen and (max-width:700px) {
        font-size: 0.6rem;
      }
    }

  }

  &__experience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.2rem;

    &--location {
      display: flex;
      flex-direction: row;
      gap: 0.3rem;
    }

    &--separator {
      font-size: 1rem;
      font-weight: 500;

      @media only screen and (max-width:700px) {
        font-size: 0.6rem;
      }
    }

    &--title {
      font-size: 1.2rem;
      font-weight: bold;

      @media only screen and (max-width:700px) {
        font-size: 0.8rem;
      }
    }

    &--text {
      font-size: 1rem;
      font-weight: 500;

      @media only screen and (max-width:700px) {
        font-size: 0.6rem;
      }
    }

    &--content {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
    }

    &--list {

      &-title {
        font-size: 1.2rem;
        text-decoration: underline;
        font-weight: 500;
        margin-bottom: 0.6rem;

        @media only screen and (max-width:700px) {
          font-size: 0.8rem;
        }
      }

      &-content {
        margin-left: 2rem;
      }

      &-text {
        font-size: 1rem;
        list-style-type: disc;

        @media only screen and (max-width:700px) {
          font-size: 0.6rem;
        }
      }
    }
  }

  &__skills {

    &--text {
      font-size: 1rem;
      font-weight: 500;

      @media only screen and (max-width:700px) {
        font-size: 0.6rem;
      }
    }
  }

  &__download {
    width: 80%;
    max-width: 800px;
    margin: auto;
    margin-top: 1.6rem;
    padding: 1.6rem 0;
    border: 1;
    border-radius: 8px;

    &--text {
      font-size: 2rem;
      font-weight: black;
    }
  }
}

@media all and (max-width: 700px) {
  .cv {
    height: 100%;

    &__download {
      width: 95%;
    }
  }
}