/*------------------------------------*
$TOPBAR
*------------------------------------*/

.header {
    padding: 1.2rem;

    &__desktop {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 8rem;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__text {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;

        &--content {
            margin-right: 4rem;

            @media only screen and (max-width:1024px) {
                margin-right: 2rem;
            }
        }

        &--content:last {
            margin-right: 0;
        }

        &--span {
            font-size: 1.8rem;
            font-weight: bold;

            @media only screen and (max-width:1024px) {
                font-size: 1.4rem;
            }
        }
    }

    &__icons {
        display: flex;
        flex-direction: row-reverse;
        padding: 0;
        margin: 0;

        &--svg {
            margin-left: 4rem;

            &-last {
                margin-left: 0rem;
                ;
            }
        }
    }

    //-----> RESOLUCIÓN MOBILE

    &__mobile {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &--text {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &--li {
            padding-bottom: 1.8rem;
        }

        &--span {
            font-size: 2.4rem;
            color: white;
        }

        &--privacy {
            font-size: 1.8rem;
            color: white;
            width: 70%;
            text-align: center;
        }
    }
}

.footer {
    &--off {
        margin: 25px;
        margin-bottom: 0;
        padding-bottom: 25px;
    }
}

/*------------------------------------*
$MEDIAQUERY
*------------------------------------*/

//-----> $RESOLUCIÓN TABLET

@media all and (max-width: 830px) {
    .header {
        &__desktop {
            padding: 0rem 1.2rem;
        }
    }
}

//-----> $RESOLUCIÓN MÓVIL

@media all and (max-width: 681px) {
    .menu {
        &--off {
            display: none;
        }
    }

    svg {
        fill: white;
    }
}

@media all and (min-width: 681px) {
    .menu {
        &--on {
            display: none;
        }
    }

    .header {
        &__mobile {
            display: none;
        }
    }
}