body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

p {
    font-size: 1.6rem;
}

//-----> $ENLACES, URL, A

a {
    color: $black;
    text-decoration: none;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

@media all and (max-width: 681px) {
    a {
        color: white;
    }
}

//-----> $SVG

svg {
    height: 4rem;
    color: $black;
}

//-----> $LISTAS

ul {
    padding: 0;
}